<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

  xmlns:context="http://www.springframework.org/schema/context"

  xmlns:mvc="http://www.springframework.org/schema/mvc"

  xsi:schemaLocation="

    http://www.springframework.org/schema/beans

    http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/context

    http://www.springframework.org/schema/context/spring-context.xsd

    http://www.springframework.org/schema/mvc

    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<context:component-scan base-package="com.srs.controllers"></context:component-scan>

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="prefix" value="/"></property>
<property name="suffix" value=".jsp"></property>
</bean>

<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>  
<property name="url" value="jdbc:mysql://localhost:3306/srstest?useSSL=false"></property>  
<property name="username" value="root"></property>  
<property name="password" value="root"></property>  
</bean>  

<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="ds"></property>
</bean>

<bean id="dao" class="com.srs.dao.ShipDao">
<property name="template" ref="jt"></property>
</bean>
<bean id="rdao" class="com.srs.dao.RouteDao">
<property name="template" ref="jt"></property>
</bean>

<bean id="sdao" class="com.srs.dao.ScheduleDao">
<property name="template" ref="jt"></property>
</bean>

<bean id="prodao" class="com.srs.dao.ProfileDao">
<property name="template" ref="jt"></property>
</bean>
<bean class="com.srs.util.DbUtil" id="db">

<property name="template" ref="jt"/>

</bean>

<bean id="creddao" class="com.srs.dao.CredentialsDao">
<property name="template" ref="jt"></property>
</bean>

<bean id="passddao" class="com.srs.dao.PassengerDao">
<property name="template" ref="jt"></property>
</bean>

<bean id="creditddao" class="com.srs.dao.CreditCardDao">
<property name="template" ref="jt"></property>
</bean>


<bean id="rsdao" class="com.srs.dao.ReservationDao">
<property name="template" ref="jt"></property>
</bean>

<bean id="residao" class="com.srs.dao.AdminPassengerDao">
<property name="template" ref="jt"></property>
</bean>

<bean id="srshipdao" class="com.srs.dao.ViewCustomerSRSDao">
<property name="template" ref="jt"></property>
</bean>

<mvc:annotation-driven></mvc:annotation-driven>

</beans>